<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.syncrotube.www">
    <!-- App permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_label"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Syncrotube"
        tools:ignore="AllowBackup"
        tools:replace="android:label">
        <!-- -->
        <!-- Youtube Player Activity -->
        <activity android:name=".ui.activities.YoutubePlayerActivity"
                  android:screenOrientation="locked"
                  android:parentActivityName=".ui.activities.PlaylistActivity"
                  android:theme="@style/Theme.Syncrotube">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.PlaylistActivity" />

        </activity>
        <!--  -->
        <!-- Playlist Activity -->
        <activity
            android:name=".ui.activities.PlaylistActivity"
            android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize"
            android:label="@string/playlist_activity_label"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.activities.MainActivity"
            android:theme="@style/Theme.Syncrotube.NoActionBar">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.MainActivity" />
        </activity> <!--  -->
        <!-- View Photo Activity -->
        <activity
            android:name=".ui.activities.ViewPhotoActivity"
            android:label="@string/view_photo_activity_label"
            android:parentActivityName=".ui.activities.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.MainActivity" />
        </activity> <!--  -->
        <!-- Crop Image Activity -->
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Theme.Syncrotube" /> <!--  -->
        <!-- file provider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.syncrotube.www.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!--  -->
        <!--  -->
        <!-- Main Activity -->
        <activity
            android:name=".ui.activities.MainActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>